#pragma once

// WiFi credentials
#define WIFI_SSID       "YourNetworkName"
#define WIFI_PASSWORD   "YourNetworkPassword"

// UTC offset in seconds
// UTC+1 CET  (winter): 3600
// UTC+2 CEST (summer): 7200
#define UTC_OFFSET_SEC  3600
